<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="My Lists"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Lists'"></MyDrawer>
        <!-- <Label text="Welcome to the secure page!" class="text-center"></Label> -->
    </StackLayout>
    
    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->
    <GridLayout tkExampleTitle tkToggleNavButton tkMainContent>
        <GridLayout tkExampleTitle tkToggleNavButton rows="auto, *">
            <!-- <StackLayout orientation="horizontal">
                <Button class="menu-button" text="Check uid" (tap)="check()"></Button>
                <Button class="menu-button" text="Add List" (tap)="addList()"></Button>
                <Button class="menu-button" text="Get Lists" (tap)="getLists()"></Button>
            </StackLayout> f067 -->
            <GridLayout
                row="0"
                columns="auto, *, auto"
                [backgroundColor]="isShowingRecent ? '#BBC169' : '#CB1D00'"
                class="add-bar">
                <StackLayout
                  class="add-bar-image-container"
                  col="0"
                  (tap)="addList('button')">
                  <Label col="0" [text]="'&#xf067;'" class="fa fa-2x"></Label>
                </StackLayout>
                <TextField #groceryTextField
                  col="1"
                  [(ngModel)]="listDescription"
                  [hint]="'Create new list'"
                  returnKeyType="done"
                  *ngIf="!isShowingRecent"
                  (returnPress)="addList('textfield')"></TextField>
            </GridLayout>
            <RadListView #myListView  row="1" swipeActions="true" selectionBehavior="None"
              [items]="_lists" 
              pullToRefresh="true" 
              (pullToRefreshInitiated)="onPullToRefreshInitiated($event)" 
              (itemSwipeProgressEnded)="onSwipeCellFinished($event)"
              (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
              (itemSwipeProgressChanged)="onCellSwiping($event)">

                <ng-template tkListItemTemplate let-item="item" >
                    <StackLayout orientation="vertical" (tap)="goToList(item.listKey)" class="listStack">
                        <Label class="nameLabel" [text]="item.description"></Label>
                        <Label class="descriptionLabel" [text]="item.dateCreated"></Label>
                    </StackLayout>
                </ng-template>
            
                <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto">
                    <GridLayout columns="50, 50, 50" col="0" id="left-stack">
                        <GridLayout col="0" class="deleteGridLayout" (tap)="onRightSwipeClick($event)" id="btnDelete">
                            <Label text="&#xf1f8;" class="fa swipeIcon swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                        </GridLayout>
                        <GridLayout col="1" class="archiveGridLayout" (tap)="onRightSwipeClick($event)" id="btnArchive">
                            <Label text="&#xf187;" class="fa swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                        </GridLayout>
                        <GridLayout col="2" class="forwardGridLayout" (tap)="onRightSwipeClick($event)" id="btnShare">
                            <Label text="&#xf1e0;" class="fa swipetemplateLabel"  verticalAlignment="center" horizontalAlignment="center"></Label>
                        </GridLayout> 
                    </GridLayout>
                    <GridLayout columns="*, 50, 50, 50" col="2" id="right-stack">
                        <GridLayout col="1" class="deleteGridLayout" (tap)="onRightSwipeClick($event)" id="btnDelete">
                            <Label text="&#xf1f8;" class="fa swipeIcon swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                        </GridLayout>
                        <GridLayout col="2" class="archiveGridLayout" (tap)="onRightSwipeClick($event)" id="btnArchive">
                            <Label text="&#xf187;" class="fa swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                        </GridLayout>
                        <GridLayout col="3" class="forwardGridLayout" (tap)="onRightSwipeClick($event)" id="btnShare">
                            <Label text="&#xf1e0;" class="fa swipetemplateLabel"  verticalAlignment="center" horizontalAlignment="center"></Label>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
            </RadListView>
                <!-- << angular-listview-swipe-actions-multiple-template-html -->
            <ActivityIndicator
              [busy]="isLoading"
              row="2">
        </ActivityIndicator>
        </GridLayout>
        
        
    </GridLayout>

</RadSideDrawer>